<div class="row">
    <!-- posts -->
    <div class="col-md-9">
    	<% @posts.each do |post| %>
        <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><%= post.title %>
                    <div class="btn-group-xs pull-right">
						<%= link_to edit_post_path(post), :class => 'btn btn-default', :title => "Editar" do %>
							<span class="glyphicon glyphicon-edit"></span>
						<% end %>
					  	<%= link_to post_path(post), :class => 'btn btn-default', :title => "Eliminar" , method: :delete, data: {confirm: 'Estas seguro? D:'} do %>
					  		<span class="glyphicon glyphicon-remove"></span>
					  	<% end %>
					</div>
					</h3>
                </div>
                <div class="panel-body">
                    <p><%= post.text.at(0..500)+'...' %></p>
                    <%= link_to 'Ver Comentarios', post_path(post) %>
                </div>
        </div>
        <% end %>
        <div class="text-center">
                <ul class="pagination">
                        <li class="disabled"><a href="#">&laquo;</a></li>
                        <li class="active"><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li class="disabled"><a href="#">...</a></li>
                        <li><a href="#">&raquo;</a></li>
                </ul>
        </div>
        <ul class="pager">
                <li class="previous disabled"><a href="#">&larr; Anteriores</a></li>
                <li class="next"><a href="#">Recientes &rarr;</a></li>
        </ul>
    </div>
    <!-- navbar -->
    <div class="col-md-3">
        <div class="nav affix-top" role="complementary">
            <ul class="nav">
                <li>
                    <form action="/search" method="post" role="form">
                    	<div class="input-group">
                            <input type="search" class="form-control" name="search" placeholder="Buscar...">
                            <span class="input-group-btn">
                                    <button class="btn btn-default" type="submit">Buscar!</button>
                            </span>
                    	</div>
                    </form>
                </li>
                <li><a href="#">Archive</a></li>
                <li><%= link_to "New Post", new_post_path %></li>
                <li><a href="https://github.com/taller-ruby-2013/diego_salazar" target="_blank">Revisa el c&oacute;digo!</a></li>
                <li>
                	<%= link_to destroy_user_session_path, :method => :delete do %>
                	<span class="glyphicon glyphicon-off"></span> Salir
                	<% end %>
                </li>
            </ul>
        </div>
    </div>
</div>
</div>