<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'layouts/user_header' %>
<div class="container">
  <p class="notice"><%= notice %></p>
  <div class="alert"><%= alert %></div>
  <%= yield %>
</div>
<%= render 'layouts/user_footer' %>
</body>
</html>